*{
    font-family: IranSans; 
    color: #666666;  
}
pagecontents{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}
pagecontents *{
    justify-content: center;
}
.rightcolumn{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 2;
}
.rightcolumn *{
    padding: 10px;
}
.leftcolumn{
    text-align: center;
    flex: 1;
}
#top-right{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    flex-wrap: nowrap;
}
#tr1{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}
#tr1>img{
    margin:auto;
    width:15em;
    height: auto;
}
tr1h{
    text-align: right;
    font-size: 1.5em;
}
#tr2{
    text-align: center;
    flex: 2;
}
