*{
    font-family: IranSans; 
    color: #666666;  
}
pagecontents{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}
pagecontents *{
    justify-content: center;
    margin: 5px;
}
.rightcolumn{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 2;
}
.rightcolumn *{
    padding: 5px;
}
.leftcolumn{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}
#top-right{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    flex-wrap: nowrap;
    border: 1px solid #cecece;
}
#tr1{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}
#tr1>img{
    margin:auto;
    width:15em;
    height: auto;
}
tr1h{
    text-align: right;
    font-size: 1.5em;
}
#tr2{
    text-align: center;
    flex: 2;
}
#top-left{
    border: 1px solid #cecece;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#top-left>img{
    width: auto;
    height: 80%;
}
tl1{
    padding: 10px;
    margin: 10px;
    flex: 1;
}
#bottom-right{
    padding: 0px;
    display:flex;
    height: 22em;
    flex :1;
    background-image: url("brands.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    justify-content: center;
    align-items: center;
}
#bottom-right > button{
    background-color: blue;
    border-radius: 50px;
    border: 0px;
    width:300px;
    height:35px;
    text-align: center;
    color: white;
}

.bottom-left{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
    border-radius: 10px;
}
.bottom-left > *{
    color: white;
    
    display: flex;
    flex-direction: column;
}
#openmail{
    width: 4em;
    height: auto;
    margin: auto;
    color: white;
}
blt1 {
    font-size: 1.5em;
}
blt2 {
    font-size: 2em;
}
.email-bar{
    display: flex;    
    flex-direction: row-reverse;
    border: 1px solid;
    border-color: #6a6a6a;
    border-radius: 20px;
    width: 60%;
    height: 50px;
    margin: auto;
    background-color: white;
}
#subscribe{
    margin: auto;
    background-color: black;
    border: 0px;
    padding: 20px 40px;
    color: white;
    height: 40px;
    border-radius: 10px;
    text-align: center;
}
#closemail{
    margin: 0px;
    padding: 10px;
}