pagecontents{
    display: block;
    padding-top: 2em;
}
pagecontents >*{
    width: 70%;
    margin: auto;
    padding-bottom: 10px;
}
h{
    display: block;
    text-align: right;
    direction: rtl;
}
p{  
    color: #666666; 
    text-align: right;
    font-size: 1.4em;
}
p1{
    display: block;
    color: #888888; 
    text-align: right;
    font-size: 1.1em;
}
.rowflex{
    display: flex;
    flex-direction: row-reverse;
}
.rowflex >*{
    padding-left: 10px;
}
.columnflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#cb3{
    border-right: 1px solid rgb(172, 172, 172);
    padding-right: 15px;
}
#contactbar{
    border-top: 1px solid rgb(172, 172, 172);
    border-bottom: 1px solid rgb(172, 172, 172);
    padding-top: 10px;
}
#addressbar{
    padding-top: 40px;
}
#exceptions{
    background-color:#BA6568;
    border-radius: 5px;
}
#exp{
    color: white;
    width: 90%;
    margin: auto;
    padding: 20px 5px;
}
#ff1 > *{
    flex:1;
    padding: 0px 10px;
}
.fff > input[type="text"] {
    float: right;
    width: 80%;
    height:2em;
    border: 1px solid #c4c4c4;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 5px 20px;
}
.fff > input[type="text"]:hover{
    background-color: white;
    border-color: blue;
}
p4{
    display: block;
    color: blue;   
    text-align: right;
}
#message{
    width: 93%;
    height: 13em;
    float: right;
}
input[type="submit"]{
    width: 20%;
    margin-left: 32px;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f5f5f5;;
    border: 1px blue solid;
    color: blue;
    border-radius: 20px;
}
input[type="submit"]:hover{
    background-color: blue;
    color: white;
}
pagecontents > form{
    background-color: white;
    box-shadow: 10px 10px 10px rgb(201, 201, 201);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 2em;
}