footer{
    padding-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 90%;
    margin: auto;
    background-color: #e0e0e0
}
footer >*{
    flex: 1;
    text-align: center;
}
.footer-right{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
}
.footer-right > *{
    flex: 1;
    text-align: center;
}
h {
    font-size: 1.5em;
    font-weight: bold;
}
.footer-middle{
    display: flex;
    flex-direction: column;
}
.footer-left{
    padding-top: 30px;
}
#googleplus{
    width: 5em;
    height: auto;
}
#facebook{
    width: 4.4em;
    height: auto;
}
#facebook >circle{
    fill: slategrey;
}
#facebook >circle:hover{
    fill: blue;
}
.svg-button{
    fill: slategray;
    border: 0px transparent;
}
#twitter > path{
    fill: slategray;
}
#twitter > path:hover{
    fill: blue;
}
.svg-button:hover{
    fill:blue;
}
.services{
    display: flex;
    flex-direction: column;
}
.information{
    display: flex;
    flex-direction: column;
}
p2{
    text-align: center;
    color: #666666; 
}
p2:hover{
    color:blue;
}
h2{
    display: inline;
    text-align: center;
    color: #666666; 
}