*{
    font-family: IranSans;   
}
.flex-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    background-color: #ffffff;
}
firstrow{
    padding-top: 1em;
    width: 80%;
    margin: auto;
}
firstrow > * {
    flex : 1;
}
Secondrow > *{
    flex: 1;
    text-align: center;    
    border-bottom: 1px solid #cccbcb;
    font-size: 1.5em;
    color: #666666;
}
secondrow{
    padding-top: 1em;
    width: 70%;
    margin:auto;
}
thirdrow{
    padding-top: 1em;
    width: 80%;
    margin:auto;
    padding-bottom: 2   em;
}
thirdrow > *{
    flex: 1;
    justify-content: center;  
    width: 10%;
    height: 10%;
}
.button {
    border-radius: 20px;
    width: 100px;
    height: 30px;
    
}
.button2:hover{
    border-color: blue;
    color: blue;
}
.button1 {
    background-color: #6a6a6a;
    color: white;
    border: 1px solid #6a6a6a;
}
.button1:hover{
    background-color: blue;
}
.button2 {
    background-color: white;
    color: #6a6a6a;
    border: 1px solid #6a6a6a;
}
.membership-buttons  {
    text-align: right !important;
    flex: 1;
}
.logo {
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
    flex: 1;
    -webkit-font-smoothing: antialiased;    
    font-weight: 100 !important;
}
.search-bar{
    display: flex;    
    flex-direction: row-reverse;
    border: 1px solid;
    border-color: #6a6a6a;
    border-radius: 20px;
    width: 60%;
}
.search-bar:hover{
    border-color: blue;
}
input[type="text"]{
    width: 90%;
    border-radius: 20px;
    border-width: 0px;
    border-color: white;
}
#searchimage{
    max-width: 100%;
    height: auto;
}
#searchbutton{
    width: 20%;
    height: auto;
}
#searchimg{
    width: 3em;
    height: 10%;
    border-radius: 20px;
}
a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 5px;
}
a >*{
    width: 95%;
    height: 95%;
    fill: #666666;
    stroke : #666666;
}
a>svg{
    padding-top: 10px;
}
a:link{
    color: #666666;
    text-decoration: none;
}
a:visited{
    color: #666666;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    background-color: blue;
}
a:hover > *{
    color:white;
}
a:hover >svg{
    fill:white;
    stroke: white;
}
.navicons{
    width: 40%;
    height: auto;
    margin: auto;
}
h0{
    font-size: 57px;
    display: block;
    text-align: center;
}
p0{
    color:#666666;
    font-size: 1.5em;
    display: block;
    text-decoration: none;
    text-align: center;
}
h3:hover{
    color: blue;
    text-decoration: underline;
}