.onlinechat{
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 10px;
}
.onlinechat > button{
    height: 4em;
    width: 20em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;   
    background-color: blue;
    border: none;
    color: white;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    z-index: 1;
}
.onlinechat>button>div{
    font-size: 2em;
    color: white;
}
#supporticon{
    width: auto;
    height: 70%;
    margin: auto;
}
#chatbox{
    height: 22em;
    width: 20em;
    display: none;
    background-color: blue;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border:none;
    flex-direction: column;
}
#supportimg{
    height: 3em;
    width: auto;
    margin: auto;
    border-radius: 2em;
}
#minimize{
    height: 1.5em;
    width: auto;
    margin: auto;
    background-color: white;
    border-radius: 8px;
}
#infobar{
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#chatarea{
    height: 16em;
    background-color: #f0f0f0;
    border-top-left-radius: 2em;
    padding: 1em;
    overflow: scroll;
}
#chat_submit{
    display: flex;
    flex-direction: row;
    height: 2em;
    background-color: white;
    border: 5px solid #666666;
}
#sendbutton{
    background: none;
    margin: auto;
    border: none;
}
p9{
    text-align: center;
    font-size: 1.1em;
    padding: 5px;
    display:block;
    color:white;
}
#chatinput{
    padding: 0px 1em;
}
.chatmessage{
    flex: 1;
    text-align: center;
    margin: 5px 10px;
    padding: 1em;
    background: white;
    border-radius: 0.4em;
    border: 10px 0px;
}